# Python virtualenv directory.
.env/

# Node.js dependencies.
node_modules/

# Java dependencies.
build/
.gradle/
.settings/
.classpath
.project
*.class

# Clojure dependencies.
target/
.cpcache/
.holy-lambda/

# IDEs.
.vscode/
.idea/

# Archives.
*.zip
*.tar.gz

# Temporary artifacts:
.tmp/
logs/
